<!DOCTYPE html>
<html>
<head>
    <title>Neighbor Letter Generator</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
</head>
<body id="neighbor-letter">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/static/images/ma-logo2.png" alt="MA Logo">
        </a>
        <div class="navbar-title">McLemore Auction Tools</div>
        <div class="ml-auto">
            <a href="{{ url_for('security.logout') }}" class="btn btn-danger">Logout</a>
        </div>
    </nav>
    <div class="container mt-3">
        <div id="alert-container"></div>

        {% if not letter_content %}
        <h1 class="display-4">Neighbor Letter Generator</h1>
        <form id="generate-letter-form" action="/neighborlettergenerator" method="post" class="mt-4">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="form-group">
                <label for="auction-code">Auction Code:</label>
                <input type="text" id="auction-code" name="auction-code" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Generate Letter</button>
        </form>
        {% endif %}

        {% if letter_content %}
		<div class="main-container">
			<div class="editor-container">
				<div id="editor">{{ letter_content | safe }}</div>
				<form id="save-letter-form" action="/save-letter" method="post">
					<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
					<textarea name="edited-content" id="edited-content" class="d-none"></textarea>
					<button type="submit" id="save-button" class="btn btn-success save-btn mt-2">Save Changes</button>
				</form>
			</div>
			<div class="side-container">
				<div class="csv-upload-container">
					<h3>Upload CSV File</h3>
					<form id="upload-csv-form" enctype="multipart/form-data">
						<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
						<div class="form-group">
							<label for="csv-file">Choose CSV File:</label>
							<input type="file" id="csv-file" name="csv-file" class="form-control-file" accept=".csv" required>
						</div>
						<button type="submit" class="btn btn-info mt-2">Upload CSV</button>
					</form>
				</div>
				<div class="confirmation-container">
					<p>Ensure the letter content stays within the editor's bounds by shortening the description if needed.</p>
					<p>Bold key lines in the description and press the save changes button.</p>
					<p>Also, verify that the correct CSV file is uploaded.</p>
					<p>Once you have made all necessary changes, click the button below to receive a confirmation email.</p>
					<button id="letter-confirmation-button" class="btn btn-warning">Letter Confirmation</button>
				</div>
			</div>
		</div>
        {% endif %}
    </div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" nonce="{{ nonce }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js" nonce="{{ nonce }}"></script>
	<script nonce="{{ nonce }}">
		document.addEventListener('DOMContentLoaded', function() {
			var alertContainer = document.getElementById('alert-container');

			function showAlert(message, type) {
				const alertId = 'alert-' + Date.now();
				const alertHTML = `
					<div id="${alertId}" class="alert alert-${type} alert-dismissible fade show" role="alert">
						${message}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				`;
				alertContainer.insertAdjacentHTML('beforeend', alertHTML);

				setTimeout(function() {
					const alertElement = document.getElementById(alertId);
					if (alertElement) {
						alertElement.remove();
					}
				}, 60000);
			}

			// Validate CSV file headers
			function validateCsvHeaders(file, expectedHeaders) {
				return new Promise((resolve, reject) => {
					const reader = new FileReader();
					reader.onload = function (e) {
						const lines = e.target.result.split("\n");
						const headers = lines[0].split(",").map(header => header.trim());
						const missingHeaders = expectedHeaders.filter(h => !headers.includes(h));
						if (missingHeaders.length > 0) {
							reject(`Missing columns: ${missingHeaders.join(", ")}`);
						} else {
							resolve();
						}
					};
					reader.onerror = function () {
						reject('Failed to read the CSV file.');
					};
					reader.readAsText(file);
				});
			}

			// Handle the CSV upload form submission
			var uploadCsvForm = document.getElementById('upload-csv-form');
			if (uploadCsvForm) {
				uploadCsvForm.addEventListener('submit', function(event) {
					event.preventDefault();

					var fileInput = document.getElementById('csv-file');
					var file = fileInput.files[0];
					var expectedHeaders = ["Name", "Address", "City", "State", "Zip"];

					if (!file) {
						showAlert("Please select a CSV file.", 'danger');
						return;
					}

					validateCsvHeaders(file, expectedHeaders).then(() => {
						var formData = new FormData(uploadCsvForm);
						fetch('/upload-csv', {
							method: 'POST',
							body: formData
						})
						.then(response => {
							if (!response.ok) {
								throw new Error(`HTTP error! status: ${response.status}`);
							}
							const contentType = response.headers.get('content-type');
							if (contentType && contentType.indexOf('application/json') !== -1) {
								return response.json();
							} else {
								return response.text().then(text => {
									throw new Error(`Unexpected response format: ${text}`);
								});
							}
						})
						.then(data => {
							if (data.success) {
								showAlert(`Owner duplicates removed: ${data.owner_duplicates_removed}`, 'info');
								showAlert(`Address duplicates removed: ${data.address_duplicates_removed}`, 'info');
								showAlert(`Cemeteries removed: ${data.cemeteries_removed}`, 'info');
								showAlert(`Rows with missing data removed: ${data.rows_with_blanks_removed}`, 'info');
								showAlert(`Inspect the processed file from <a href="${data.dropbox_link}">here</a>.`, 'success');
							} else {
								showAlert(`An error occurred: ${data.message}`, 'danger');
							}
						})
						.catch(error => {
							console.error('Error:', error);
							showAlert('An error occurred while processing the CSV file. Please try again later.', 'danger');
						});
					}).catch(error => {
						showAlert(error, 'danger');
					});
				});
			}

		// Handle the save letter form submission
		var saveLetterForm = document.getElementById('save-letter-form');
		var editorElement = document.getElementById('editor');
		if (editorElement && saveLetterForm) {
			var quill = new Quill('#editor', {
				theme: 'snow',
				modules: {
					toolbar: [['bold', 'italic', 'underline', 'link']]
				}
			});

			saveLetterForm.addEventListener('submit', function(event) {
				event.preventDefault(); // Prevent default form submission

				var content = quill.root.innerHTML;
				fetch('/save-letter', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({ 
						edited_content: content,
						csrf_token: '{{ csrf_token }}'
					})
				})
				.then(response => {
					if (!response.ok) {
						throw new Error(`HTTP error! status: ${response.status}`);
					}
					const contentType = response.headers.get('content-type');
					if (contentType && contentType.indexOf('application/json') !== -1) {
						return response.json();
					} else {
						return response.text().then(text => {
							throw new Error(`Unexpected response format: ${text}`);
						});
					}
				})
				.then(data => {
					if (data.success) {
						showAlert('Letter content saved successfully!', 'success');
					} else {
						showAlert('Error saving letter content.', 'danger');
					}
				})
				.catch(error => {
					console.error('Error:', error);
					showAlert('An error occurred while saving the letter content. Please try again later.', 'danger');
				});
			});
		}

		// Handle the Letter Confirmation button click
		var confirmationButton = document.getElementById('letter-confirmation-button');
		if (confirmationButton) {
			confirmationButton.addEventListener('click', function() {
				var csrfToken = document.querySelector('input[name="csrf_token"]').value;

				fetch('/send-confirmation-email', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({ 
						csrf_token: csrfToken
					})
				})
				.then(response => {
					if (!response.ok) {
						throw new Error(`HTTP error! status: ${response.status}`);
					}
					const contentType = response.headers.get('content-type');
					if (contentType && contentType.indexOf('application/json') !== -1) {
						return response.json();
					} else {
						return response.text().then(text => {
							throw new Error(`Unexpected response format: ${text}`);
						});
					}
				})
				.then(data => {
					if (data.success) {
						showAlert('Confirmation email sent. Please check your email to confirm the letter contents.', 'info');
					} else {
						showAlert('Failed to send confirmation email: ' + data.message, 'danger');
					}
				})
				.catch(error => {
					console.error('Error:', error);
					showAlert('An error occurred while sending the confirmation email. Please try again later.', 'danger');
				});
			});
		}
	});
	</script>
</body>
</html>