<!DOCTYPE html>
<html>
<head>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="letter-content ql-editor">
        <p>{{ current_date }}</p>

        <p>RE: Upcoming Auction of <b>{{ auction_title }}</b></p>

        <p>Dear Sir or Madam:</p>

        <p>{{ auction_description }}</p>

        <p>The property address is <b>{{ property_address }}.</b></p>

        <p>Based on our research, you own real estate near the property we are selling.</p>

        <p>The auction will take place on our website at <b><a href="https://www.mclemoreauction.com">www.mclemoreauction.com</a></b>. You may register to bid at <b><a href="https://www.mclemoreauction.com/register">www.mclemoreauction.com/register</a></b>.</p>

        <p>Note: <b>This auction closes {{ bidding_end }}.</b></p>

        <p>Please contact <b>{{ manager_name }}</b> at <b>{{ manager_phone }}</b> or <b><a href="mailto:{{ manager_email }}">{{ manager_email }}</a></b> to schedule an appointment to view this property.</p>

        <p><b>Please scan the QR code to visit our website.</b></p>

        <ul class="signature-list">
            <li class="signature-paragraph">
                Yours Truly,<br>
                <img src="https://tools.mclemoreauction.com/static/images/signature.png" alt="Signature" class="signature-image"><br>
                <b>Will McLemore, CAI</b><br>
                <b><a href="mailto:will@mclemoreauction.com">will@mclemoreauction.com</a> | (615) 636-9602</b>
            </li>
        </ul>
    </div>
</body>
</html>
