<!DOCTYPE html>
<html>
<head>
    <title>McLemore Auction Tools</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body id="qr-code">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/static/images/ma-logo2.png" alt="MA Logo">
        </a>
        <div class="navbar-title">McLemore Auction Tools</div>
        <div class="ml-auto">
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="display-4 text-center">QR Code Sticker Generator</h1>
        <div class="d-flex justify-content-center">
            <p>
                <a href="#tutorial" data-bs-toggle="collapse" class="btn btn-info">Click here for a tutorial on how to use the QR Code Generator</a>
            </p>
        </div>
        <div id="tutorial" class="collapse">
            <h2>Tutorial: How to Use the QR Code Generator</h2>
            <ul>
                <li><strong>Enter Auction Details:</strong> Input your auction code, starting lot number, and ending lot number.</li>
                <li><strong>Generate QR Codes:</strong> Click the "Generate PDF" button. The tool will create a PDF with QR code stickers for each lot in the specified range.</li>
                <li><strong>Print and Use:</strong> Download and print the PDF using Avery 5960 labels. Each sticker includes a QR code linking to the lot on the McLemore Auction website, the lot number, and the auction website URL.</li>
            </ul>
        </div>
        <form action="/qrcodegenerator" method="post" class="mt-4">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="form-group">
                <label for="auction-code">Auction Code:</label>
                <input type="text" id="auction-code" name="auction-code" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="starting-lot">Starting Lot Number:</label>
                <input type="number" id="starting-lot" name="starting-lot" class="form-control" min="0" required>
            </div>
            <div class="form-group">
                <label for="ending-lot">Ending Lot Number:</label>
                <input type="number" id="ending-lot" name="ending-lot" class="form-control" min="0" required>
            </div>
            <button type="submit" class="btn btn-primary">Generate PDF</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" nonce="{{ nonce }}"></script>
</body>
</html>
